.message {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
}

.message__icon {
  width: 1rem;
  vertical-align: middle;
  padding-right: 0.5rem;
}

.message__text {
  font-size: 0.75rem;
  color: dimgray;
  background-color: lightgray;
  border: 1px solid dimgray;
  border-radius: 3px;
  padding: 0.25rem;
  flex-grow: 1;
}

.info {
  color: #059;
  background-color: #bef;
  border-color: #059;
}

.success {
  color: #270;
  background-color: #dff2bf;
  border-color: #270;
}

.warning {
  color: #9f6000;
  background-color: #feefb3;
  border-color: #9f6000;
}

.error {
  color: #d8000c;
  background-color: #ffbaba;
  border-color: #d8000c;
}
